body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: black;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-left {
    justify-self: flex-start;
    width: 33%;
}

.menu {
    padding-left: 20px;
    margin-right: 25px;
    color: #000;
    font-weight: 700;
}

.spaceAndCosmos {
    font-size: 14px;
    font-family: "nyt-franklin", helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 19px;
    color: #000;
    text-decoration: none;
    margin-left: 25px;
}

.spaceAndCosmos:hover {
    text-decoration: underline;
}

.logo-NYT {
    width: 34%;
    display: flex;
    justify-content: center;
}

.btn-anchor {
    font-family: "nyt-franklin", helvetica, arial, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}

.nav-right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.btn-right {
    background-color: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    height: 2.4em;
}

.btn-right:hover {
    background-color: #326891;
}

.btn-subscribe {
    width: 120px;
    margin-right: 7px;
}

.btn-login {
    width: 60px;
    margin-right: 20px;
}

.art-wrapper {
    width: 70%;
    padding-top: 20px;
    color: #333;
    margin: 0 auto;
}

.nyt-font {
    font-family: "nyt-cheltenham", georgia, 'times new roman', times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.3rem;
    line-height: 3rem;
    color: #121212;
    margin-top: 7%;
    margin-left: 18%;
    text-align: left;
}

.art-img {
    display: block;
    width: 100%;
    margin: auto;
}

.caption-1 {
    color: #666;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
    font-size: 0.93rem;
    line-height: 1.23rem;
    text-align: left;
    width: 75%;
}
.wrap {
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
}
.date-icons{
    display: flex;
    align-items: center;
}
.date{
    width: 50%;
}
.icons{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.icons>a{
    margin-left: 20px;
    border-radius: 30%;
    background-color: silver;
}
.paragraph{
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: #333;
}
.box1{
    text-align: center;
}
.box1>hr{
    width: 7%;
}
.box1>p{
    font-size: 17px;
    line-height:5px;
    font-family: nyt-franklin;
    font-weight: 700;
}
.box1>p>a{
    color:rgb(50, 104, 145);
    text-decoration: none;
}
.bicep{
    width: 100%;
    height: auto;
}